@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply dark:border-gray-800;
  }

  html {
    min-width: 360px;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white;
    @apply dark:bg-black;
    @apply text-black;
    @apply dark:text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
    @apply dark:text-white;
  }

  p {
    @apply text-gray-600;
    @apply dark:text-gray-400;
  }

  a,
  button {
    @apply hover:text-opacity-90;
    @apply dark:hover:text-opacity-90;
    @apply transition;
    @apply duration-200;
  }
}

.btn-primary {
  @apply rounded border border-black dark:border-white;
  @apply text-white dark:text-black hover:text-black dark:hover:text-white;
  @apply bg-black dark:bg-white hover:bg-white dark:hover:bg-black;
  @apply transition duration-200;
  @apply disabled:opacity-50;
}
.btn-primary:disabled {
  @apply pointer-events-none;
}

.btn-secondary {
  @apply border rounded text-gray-500 dark:text-gray-400 hover:text-black dark:hover:text-white border-gray-300 dark:border-gray-600 hover:border-black dark:hover:border-white;
  @apply transition duration-200;
}
.btn-secondary:disabled {
  @apply pointer-events-none;
}

.btn-yellow {
  @apply rounded border text-black bg-yellow-300 border-yellow-300 shadow hover:shadow-md hover:opacity-90 disabled:opacity-50;
}
.btn-yellow:disabled {
  @apply pointer-events-none;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

/* Remove arrows from input[number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
