@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply dark:border-gray-700;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply bg-white;
  @apply dark:bg-black;
  @apply text-black;
  @apply dark:text-white;

  /* Transitions */
  @apply transition;
  @apply duration-200;
}

p {
  @apply text-gray-800;
  @apply dark:text-gray-200;
}
a,
button {
  @apply hover:text-gray-700;
  @apply dark:hover:text-gray-300;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

/* Remove arrows from input[number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
